* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
}

button {
  cursor: pointer;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 80%;
}

.post-card {
  width: 380px;
  border: 1px solid #e1e1e1;
  margin: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.post-card-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.post-card-pic img {
  width: 100%;
}

.post-card-pic {
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 10px;
  border-top: 2px solid #e1e1e1;
  padding-top: 10px;
}

.post-card-likes {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.post-card-likes svg {
  margin-right: 5px;
}

.number-of-likes {
  font-weight: bold;
}

.post-card-caption {
  margin-top: 10px;
}

.user-profile {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  gap: 10px;
}

.user-profile-name {
  font-weight: bold;
  display: block;
  margin-top: 8px;
  font-size: 17px;
}

.follow-unfollow-btn {
  display: flex;
  align-items: center;
}

.follow-btn,
.unfollow-btn {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.follow-btn {
  background-color: #00aaff;
  color: white;
  border: none;
}

.unfollow-btn {
  background-color: #ff5555;
  color: white;
  border: none;
}
